{% extends "base.html" %}

{% block content %}
<h3>Thread for {% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h3>
<ul id='chat-items'>
{% for chat in object.chatmessage_set.all %}

<li>{{ chat.message }} via {{ chat.user }}</li>

{% endfor %}
</ul>

<form id='form' method='POST'> {% csrf_token %}
    <input type="hidden" id="username" value='{{ user.username }}'
{{form.as_p }}
<input type='submit' class='btn btn-primary'/>
</form>

{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
<script>
// websocket scripts

var formData = $("#form")
var msgInput = $("#id_message")
var chatHolder  = $("#chat-items")

var wsStart = 'ws://'
if (window.location.protocol == 'https:' ) wsStart = 'wss://' 
var endpoint = wsStart + window.location.host + window.location.pathname 
//ws://echo.websocket.org
var socket = new ReconnectingWebSocket(endpoint)

socket.onmessage = function(e) {
    console.log("message", e)
    // console.log(e.data)
    var chatMsg = JSON.parse(e.data)
    chatHolder.append("<li>"+chatMsg.message+" via "+chatMsg.username+"</li>")
}
socket.onopen = function(e) {
    formData.submit(function(event){
        event.preventDefault()
        var msgTxt = msgInput.val()
        // var formDataSerialized = formData.serialize()
        var finalData = {
            'message': msgTxt
        } 
        // console.log($('#username').val())
        socket.send(JSON.stringify(finalData))
        msgInput.val('')
        formData[0].reset()
    })
    console.log("open", e)
}
socket.onerror = function(e) {
    console.log("error", e)
}
socket.onclose  = function(e) {
    console.log("close", e)
}


</script>
{% endblock %}